{% load static %}

<div class="profile card">
  <figure class="profile__icon">
    <img class="card-img-top profile__img" src="{% static "profiles/img/icon.png" %}">
  </figure>
  <div class="card-body">
    <div class="profile__user">
      <div class="profile__user-name">
        <a href="{% url "profiles:profile" username=user.username %}" class="text-black"><h5 class="card-title">{{ user.nickname }}</h3></a>
        <p class="card-subtitle text-muted">@{{ user.username }}</p>
        <p class="card-text">{{ user.aboutme }}</p>
      </div>
    </div>
    <div class="profile__follow" id="v-follow">
      {% ifnotequal request.user user %}
        {% if request.user.profile in user.profile.followed_by.all %}
          <a v-if="toggle" @click="unfollow('{{ user.pk }}')" class="btn btn-danger text-white">Unfollow</a>
          <a v-else @click="follow('{{ user.pk }}')" class="btn btn-success text-white">Follow</a>
        {% else %}
          <a v-if="toggle" @click="follow('{{ user.pk }}')" class="btn btn-success text-white">Follow</a>
          <a v-else @click="unfollow('{{ user.pk }}')" class="btn btn-danger text-white">Unfollow</a>
        {% endif %}
      {% endifnotequal %}
    </div>
    {% if footer_required %}
      {% include "profiles/_profile_footer.html" %}
    {% endif %}
  </div>
</div>

