{% load static %}
<div class="profile card">
  <figure class="profile__icon">
    <img class="card-img-top profile__img" src="{% static "profiles/img/icon.png" %}">
  </figure>
  <div class="card-body">
    <div class="profile__user">
      <div class="profile__user-name">
        <h5 class="card-title"><a :href="'/' + user.user.username + '/'" class="text-black">[[ user.user.nickname ]]</a></h5>
        <p class="card-subtitle text-muted">@[[ user.user.username ]]</p>
        <p class="card-text">[[ user.user.aboutme ]]</p>
      </div>
    </div>
    <div v-if="! user.is_me" class="profile__follow" id="v-follow">
          <a v-if="user.is_followed" @click="unfollow" class="btn btn-danger text-white">Unfollow</a>
          <a v-else @click="follow" class="btn btn-success text-white">Follow</a>
    </div>
    {% if footer_required %}
      {% include "profiles/_profile_footer.html" %}
    {% endif %}
  </div>
</div>
