{% load static %}

  <div class="profile">
    <div class="card profile__inner" style="">
      <figure class="profile__icon">
        <img class="card-img-top profile__img" src="{% static "profiles/img/icon.png" %}">
      </figure>
      <div class="card-body">
        <div class="profile__user">
          <div class="profile__user-name">
            <a href="{% url "profiles:profile" username=user.username %}" class="text-black"><h5 class="card-title">{{ user.nickname }}</h3></a>
            <p class="card-subtitle text-muted">@{{ user.username }}</p>
            <p class="card-text">{{ user.aboutme }}</p>
          </div>
        </div>
        <div class="profile__follow" id="v-follow">
          {% ifnotequal request.user user %}
            {% if request.user.profile in user.profile.followed_by.all %}
            <a v-if="toggle" @click="unfollow('{{ user.pk }}')" class="btn btn-danger text-white">Unfollow</a>
              <a v-else @click="follow('{{ user.pk }}')" class="btn btn-success text-white">Follow</a>
            {% else %}
              <a v-if="toggle" @click="follow('{{ user.pk }}')" class="btn btn-success text-white">Follow</a>
              <a v-else @click="unfollow('{{ user.pk }}')" class="btn btn-danger text-white">Unfollow</a>
 
            {% endif %}
          {% endifnotequal %}
        </div>

        <hr>
        <ul class="profile__links">
          <li class="profile__link">
            <a class="profile__link-inner">
              <p class="profile__link-title">Statuses</p>
              <p class="profile__link-number">{{ user.statuses.all.count }}</p> 
            </a>
          </li>
          <li class="profile__link">
            <a class="profile__link-inner" href="{% url "profiles:likes" user.username %}">
              <p class="profile__link-title">Likes</p>
              <p class="profile__link-number">{{ user.profile.likes.count }}</p>
            </a>
          </li>
          <li class="profile__link">
            <a class="profile__link-inner" href="{% url "profiles:follows" user.username %}">
              <p class="profile__link-title">Follows</p>
              <p class="profile__link-number">{{ user.profile.follows.count }}</p> 
            </a>
          </li>
          <li class="profile__link">
            <a class="profile__link-inner" href="{% url "profiles:following" user.username %}">
              <p class="profile__link-title">Followers</p>
              <p class="profile__link-number">{{ user.profile.followed_by.count }}</p> 
            </a>
          </li>
        </ul>
        <hr>
        {% if form.errors %}
          {% for field in form %}
            {% for error in form.errors %}
              <div class="alert alert-danger">
                <b>{{ error|escape }}</b>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
             <div class="alert alert-danger">
               <b>{{ error|escape }}</b>
             </div>
          {% endfor %}
        {% endif %}
        <form action="{% url "profiles:profile" request.user.username %}" method="post">
          {% csrf_token %}

          {% for field in form %}
            <div class="form-group">
              {{ field }}
            </div>
          {% endfor %}

          <input type="hidden" value="{{ request.path }}" name="redirect">
          <input type="submit" value="Post status" class="btn btn-primary">
        </form>
 
      </div>
    </div>
  </div>

