{% load static %}

  <div class="profile">
    <div class="card profile__inner" style="">
      <figure class="profile__icon">
        <img class="card-img-top profile__img" src="{% static "profiles/img/icon.png" %}">
      </figure>
      <div class="card-body">
        <div class="profile__user">
          <div class="profile__user-name">
            <a href="{% url "profiles:profile" username=user.username %}" class="text-black"><h5 class="card-title">{{ user.nickname }}</h3></a>
            <p class="card-subtitle text-muted">@{{ user.username }}</p>
            <p class="card-text">{{ user.aboutme }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

