{% load static %}
<div class="card status" style="margin-bottom: 20px;">
  <div class="card-body">
    <div class="status__user">
      <figure class="status__usericon">
        <img class="status__img" src="{% static "profiles/img/icon.png" %}">
      </figure>
      <div class="status__username">
        <a class="text-black" :href="'/' + status.user.username"><p class="card-text mb-0"><b>[[ status.user.nickname ]]</b></p></a>
        <p class="card-text text-muted">@[[ status.user.username ]]</p>
      </div>
    </div>
    <p class="card-text">[[ status.body ]]</p>
    <p class="card-text"><small class="text-muted">[[ status.created_at ]]</small></p>
    <div class="status__action">
      <a v-if="status.is_liked" class="btn btn-danger btn-like" :href="'/like/' + status.pk">Stop Like</a>
      <a v-else class="btn btn-success btn-like" :href="'/stoplike/' + status.pk">Like</a>
    </div>
  </div>
</div>

